html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  background-color: #fafafa !important;
}

.content {
  margin-left: 20%;
  width: 80%;
}

mat-sidenav-container {
  height: 100% !important;
}

app-page-header {
  height: 100px;
  margin-bottom: 35px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.mat-list-item {
  font-family: Trade Gothic LT, "Trade Gothic LT", sans-serif !important;
  font-weight: bold !important;
}

.container {
  padding: 1.5rem;
}

img {
  border-radius: 20px;
  padding: 10px;
}

.like-dialog {
  background: rgb(65, 252, 134);
  color: white;
}
.like-dialog button {
  background-color: rgb(65, 252, 134);
  color: white;
  border: none;
}

.dislike-dialog {
  background: #F44336;
  color: white;
}
.dislike-dialog button {
  background-color: #F44336;
  color: white !important;
  border: none;
}